<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Branch</title>
</head>
<body>
<a href="/branch/create">Create new Branch</a>
<h1>Branch</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="branch : ${branches}">
        <tr>
            <td th:text="${branch.name}"></td>
            <td><a th:href="@{/branch/edit/__${branch.id}__ }">Edit</a></td>
            <td><a th:href="@{/branch/delete/__${branch.id}__ }">Delete</a></td>
            <td><a th:href="@{/branch/view/__${branch.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>